body {
    text-align: center;
    padding: 2rem;
}

.product {
    padding-bottom: 1rem;
    padding-top: 2rem;
    border-bottom: 1px solid $color-secondary;
    box-sizing: border-box;

    &:last-child {
        border-bottom: 0;
    }

    h3 {
        position: relative;
    }

    h3::before {
        position: absolute;
        content: '';
        border-top: 3px solid $color-primary;
        width: 90px;
        height: 3px;
        left: calc(50% - 45px);
        top: -.5rem;
    }
}


@media (min-width: 740px) {
    .product {
        float: left;
        width: 50%;

        &:nth-child(2n) {
            border-right: 2px solid $color-secondary;
        }
    }
}


@media (min-width: 880px) {
    .product {
          width: 33.3%;
          border-right: 2px solid $color-secondary;

        &:nth-child(3n+1) {
            border-right: 0;
        }
    }
}
