header {
    text-align: center;
    padding-bottom: 2rem;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
    }
}
@media (min-width: 880px) {
    header {
        text-align: left;

        ul {
            float: right;
            font-size: 3em;

        li {
          line-height: 137px;
        }
        }
    }

    .site-header {
        text-align: left;
        font-size: 2em;
        display: inline-block;
    }
}
